<%- include('partials/header'); -%>

<div class="container text-center main" style="background-image:url('<%= picRandom %>')">
    <div class="container">
        <h1 class="pt-5 head">Current Weather on Mars</h1>

        <div class="container">
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Sol(Day on Mars)</th>
                    <th scope="col">Atmospheric Temperature</th>
                    <th scope="col">Wind Direction</th>
                    <th scope="col">Horizontal Wind Speed</th>
                    <th scope="col">Current Season</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="sol_day">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>

<%- include('partials/footer') -%>