:root {
    --primaryColor: #78572b;
    --secondaryColor: #c48533;
    --subtleColor: #c4965a;
    --accentLightColor: #1f8ac4;
    --accentDarkColor: #2b5d78;
    --white: #ffffff;
    --black: #000000;

    --josefinSans: 'Josefin Sans', sans-serif;
    --sourceCode: 'Source Code Pro', monospace;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--subtleColor);
}

.main {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 5rem auto;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main .container h1.head {
    color: var(--white) !important;
    font-family: var(--sourceCode);
    font-weight: 700;
}
